@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  color: #252b42;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
.continair {
  width: 100%;
  margin: 0px auto;
}
/* bg */
nav {
  width: 100%;
  height: 91px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title-website {
  font-size: 24px;
  font-weight: 700;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-ul li a {
  cursor: pointer;
  color: #737373;
}
.button-login-sign-in {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  gap: 15px;
}
.button-login-sign-in .loginBtn {
  cursor: pointer;
  color: #fc724d;
}
.joinBtn {
  padding: 15px 25px 15px 25px;
  color: #ffffff;
  background-color: #fc724d;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}
.joinBtn i {
  color: white;
}
/* nav end ///////////////////////////////////*/
/* home start */
#home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: url("https://s3-alpha-sig.figma.com/img/c142/12a8/1bc4a328d9052d726427474cc49be08c?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lwpWgxQypXRfDFDUiz8AEEeelcQ5cjww83opvymLATDXWaUkpoUuV9TuPUBZRtlbbg5GbucS2h0ym0uRPdXmVcIR37CWvpVymOO-8vOg1S0qrNDXy8VOQDjv7UYxCQ1vhP2pJjoRcL0z3pAsCh-czlwzshuE3N4UUjJrl9iV8sSMzjlFLCf2MO8CfMrho8txGXRfyH-dxccGkwaN3OM2K4bjvDPtM2zDDoYWydKVUwc1bA~d8BIy32XVqbWz8AdRG2TvByGyEmnTURmQy726ifSLJXqf8bi1gBcYlFMASB1cKeuj1fTI8A-dFMeLiwLSfo~KFQrpEbMZvbV3hrXAvQ__");

  height: 729px;
  background-size: cover;
  background-color: #ececec;
  background-position: center;
}
.main-left-content {
  display: flex;
  margin-right: 100px;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 350px;
  margin-left: 160px;
  margin-top: 80px;
}
.main-left-content strong {
  font-size: 50px;
  font-weight: 700;
}
.main-left-content span {
  color: #fc724d;
  font-size: 16px;
  font-weight: 700;
}
.main-left-content p {
  font-size: 20px;
  color: #737373;
}
.main-left-content button {
  padding: 15px 40px 15px 40px;
  width: 150px;
  color: white;
  background-color: #fc724d;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
/* ////// */

.doctors-specialize {
  height: 834px;
  margin: 0px 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}
.title-page-doctors {
  display: flex;
  width: 60%;
  height: 134px;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.title-page-doctors span {
  color: #fc724d;
  font-weight: 700;
}
.title-page-doctors strong {
  font-size: 35px;
  font-weight: 700;
}
.title-page-doctors p {
  color: #737373;
}
.doctors-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.doctors-car {
  height: 296px;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  box-shadow: 0px 1px 19px rgb(236, 236, 236);
  justify-content: space-evenly;
  width: 318px;
}
.doctors-car img {
  width: 72px;
  height: 72px;
  padding: 15px;
  background-color: #b6d7ff;
  border-radius: 50%;
}
.line-doctors {
  height: 2px;
  width: 70px;
  background-color: #e74040;
}
.doctors-car p {
  color: #737373;
}
/* meet-experts */
.meet-experts {
  height: 1000px;
  margin: 0px 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-meet-experts {
  display: flex;
  width: 1030px;
  justify-content: space-between;
  height: 515px;
  gap: 100px;
}
.images-side-meet {
  width: 510px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.hr-image-meet {
  display: flex;
  gap: 10px;
}
.two-nurse {
  width: 434px;
  border-radius: 14px;
  height: 253px;
}
.doctor-imge-suger {
  width: 180px;
  height: 252px;
  border-radius: 14px;
}
.rectangle-img {
  width: 243px;
  height: 251px;
}
.right-meet-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 520px;
}
.meet-card-trusted-fileds {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 418px;
  height: 111px;
}
.number-trusted-fileds span {
  color: #e74040;
  font-weight: 700;
  padding: 15px;
  border-radius: 50%;
  background-color: #ececec;
}
.right-meet-main p {
  color: #737373;
}
.right-meet-main h6 {
  font-size: 16px;
}
/* ////////////////////////// */

.our-impressions {
  height: 761px;
  margin: 0px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.title-impressions {
  width: 381px;
}
.title-impressions strong {
  margin-bottom: 30px;
}
.our-impressions-line {
  background: #e74040;
  height: 5px;
  width: 80px;
}
.our-impressions-img {
  width: 500px;
  height: 400px;
}
.rectangle-img-impreesions {
  position: relative;
  width: 326px;
  height: 368px;
  border-radius: 26px;
  z-index: 1;
}
.herbal {
  border-radius: 26px;
  position: absolute;
  right: 180px;
  z-index: 0.9;
  width: 354px;
  height: 346px;
}
/* //////////////////////// */
.see-our-mpressions2 {
  height: 1100px;
  margin: 0px 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-list-our-imperssions2 {
  height: 620px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card-our-imperssions2 {
  width: 320px;
  height: 620px;
}
.card-our-imperssions2-icons {
  background-image: url("./Icons\ and\ Images/ambulance.png");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  flex-direction: column;
}
.card-list-our-imperssions2 .sale {
  align-self: start;
  margin-left: 30px;
  background: #e74040;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  padding: 0px 10px 0px 10px;
  font-weight: 700;
}
.img-our-impressions2 img {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.card-content-imperssions2 {
  padding: 25px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pr-name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pr-name-rating span {
  font-weight: 700;
  color: #fc724d;
}
.stars {
  width: 50px;
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 20px;
  gap: 5px;
  padding: 5px;
  background-color: #26335d;
}
.stars p {
  font-size: 12px;
  color: #ffffff !important;
}
.title-impressions-2 {
  font-weight: 700;
  font-size: 16px;
}
.card-content-imperssions2 p {
  color: #737373;
}
.down-sales {
  color: #737373;
  font-weight: 700;
  width: 100px;
}
.down-sales img {
  margin-right: 5px;
  cursor: pointer;
}
.discount-prices-imperssion2 {
  width: 110px;
  height: 35px;
  display: flex;
  gap: 5px;
  padding: 5px 3px 5px 3px;
  font-weight: 700;
}
.discount {
  color: #0061ff;
}
.noneDis {
  color: #bdbdbd;
}
.Impressions2-btn-learnMore {
  border: 1px solid #fc724d;
  color: #fc724d;
  width: 150px;
  height: 45px;
  border-radius: 35px;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  background-color: white;
  cursor: pointer;
  align-items: center;
}
.Impressions2-btn-learnMore span {
  color: #fc724d !important;
  font-size: 30px;
  font-weight: 600;
}

/* ////////////////////////pricing */
#pricing {
  width: 100%;
  background-color: #26335d;
}
.pricing {
  height: 1440px;
  margin: 0px 14%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.pricing-title strong {
  color: white;
}
.pricing-title p {
  color: white;
}
.pricing-card-list {
  display: flex;
  gap: 35px;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  background-color: white;
  height: 900px;
  width: 345px;
  padding: 50px 30px 50px 30px;
}
.herat {
  font-size: 30px;
  padding: 20px;
  color: white;
  border-radius: 50%;
  background-color: #fc724d;
}
.pricing-card h1 {
  font-weight: 700;
  font-size: 24px;
}
.pricing-card span {
  color: #737373;
  font-weight: 700;
}
.price-per-month {
  display: flex;
  flex-direction: column;
}
.price-dolor {
  font-size: 40px;
  font-weight: 700;
  color: #fc724d !important;
}
.per-month {
  color: #8ec2f2 !important;
  font-weight: 700;
}
.pricing-card p {
  color: #737373;
}
.pricing-card button {
  padding: 15px 40px 15px 40px;
  background: #fc724d;
  border-radius: 5px;
  width: 245px;
  height: 50px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.pricing-card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pricing-card ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pricing-card ul li i {
  padding: 8px;
  color: white;
  background-color: #bdbdbd;
  border-radius: 50%;
}
.pricing-card .gree-tik-pricing-card i {
  background-color: #2dc071;
}
/* ///////////////////////////// */

#contact {
  height: 851px;
  margin: 0px 14%;
  display: flex;
  justify-content: center;
  padding: 160px 0px 160px 0px;
  flex-direction: column;
  gap: 100px;
}
.contact-title {
  width: 70%;
}
.practice-advice-cards-list {
  display: flex;
  width: 100%;
  height: 317px;
  gap: 30px;
}
.practice-advice-card {
  box-shadow: 0px 2px 19px rgb(241, 241, 241);
  padding: 25px;
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.practice-advice-card p {
  font-size: 14px;
  color: #737373;
}
.practice-advice-card img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
.image-name-job {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  gap: 10px;
}
.name-lastname-contact {
  display: flex;
  flex-direction: column;
}
.name-contact {
  color: #fc724d;
  font-weight: 700;
  font-size: 14px;
}
.contact-job {
  font-size: 12px;
}
/* /////////////////////// */
.join-us-contact {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  height: 600px;
  margin: 0px 14%;
  text-align: center;
}
.contact-join-us-title {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: center;
}
.input-contact {
  display: flex;
}
.input-contact input {
  width: 650px;
  height: 60px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #e6e6e6;
  padding: 10px 15px;
  outline: none;
  font-size: 18px;
}
.input-contact button {
  width: 120px;
  position: absolute;
  right: 330px;
  color: white;
  cursor: pointer;
  background-color: #fc724d;
  border: 1px solid #e6e6e6;
  height: 60px;
}
/* footer */
footer {
  margin: 0px 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 20px 0px;
  height: 350px;
}
.hr-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
.bottom-footer {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  justify-content: space-between;
}
.footer-social-icon {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.footer-social-icon p {
  font-weight: 700;
}
.footer-social-icon i {
  height: 24px;
  width: 24px;
}
.hr-footer h5 {
  font-size: 16px;
  font-weight: 700;
}
.column-footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}
.column-footer-content ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.column-footer-content .call-info li {
  font-size: 14px;
  margin: 6px 0px;
}
.call-info li i {
  cursor: pointer;
  margin-right: 10px;
}
